@media (max-width: 1300px) {
    .hero {
        padding: 0 5px;
        .icons {
            margin-left: 10px;
            margin-right: 50px;
        }
    }
}

@media (max-width: 800px) {
    .hero {
        &__main-img {
            position: absolute;
            right: 150px;
        }
        .line--2.element-show {
            width: 100px;
        }
        .icons {
            z-index: 100;
        }
        .menu {
            padding-left: 5px;
            z-index: 100;
            font-size: 15px;
        }
    }
}


@media (max-width: 550px) {
    .hero {
        margin-bottom: 40px;
        .main-title {
            width: 330px;
            height: 100px;
        }
        &__main-img {
            position: absolute;
            right: 210px;
            left: 0;
        }
        .hero__main-img img {
            width: 340px;
            height: 520px;
        }
        .main-title.element-show {
            margin-top: 260px;
        }
        .main-text {
            font-size: 12px;
            margin: 0;
        }
        .line--1 {
            width: 350px;
            left: 205px;
        }
        .line--1.element-show {
            top: 174px;
        }
        .line--2 {
            z-index: 1000;
            top: 375px;
        }
    }
}
@media (max-width: 470px) {
    .hero {
        .main-title {
            margin-left: 50px;
            width: 270px;
        }
        .decor__img {
            width: 280px;
            height: 160px;
            position: absolute;
            top: 100px;
        }
        .main-text {
            font-size: 14px;
        }
        .line--1 {
            display: none;
        }
        .decor__img {
            width: 300px;
        }
    }
}

@media (max-width: 380px) {
    .hero {
        .main-title {
            margin-left: 20px;
            width: 230px;
        }
        .hero__main-img img {
            width: 270px;
            height: 420px;
        }
        .hero .decor__img {
            width: 280px;
            height: 160px;
            position: absolute;
            top: 100px;
        }
        .main-title.element-show {
            margin-top: 160px;
        }
        .icons {
            margin-right: 20px;
            margin-left: 20px;
        }
        .line--1 {
            left: 115px;
        }
        .line--2 {
            top: 310px;
        }
    }
}

