@media (max-width: 1300px) {
    .hero {
        padding: 0;
        .icons {
            margin-left: 10px;
            margin-right: 50px;
        }
    }
}

@media (max-width: 800px) {
    .hero {
        &__main-img {
            position: absolute;
            right: 150px;
        }
        .line--2.element-show {
            width: 100px;
        }
        .icons {
            z-index: 100;
        }
        .menu {
            padding-left: 5px;
            z-index: 100;
            font-size: 15px;
        }
    }
}


@media (max-width: 530px) {
    .hero {
        .main-title {
            width: 270px;
            height: 100px;
        }
        .main-title.element-show {
            margin-top: 170px;
        }
        .main-text {
            font-size: 12px;
        }
        .line--1 {
            width: 250px;
            left: 150px;
        }
        .line--2 {
            z-index: 1000;
        }
    }
}
@media (max-width: 400px) {
    .hero {
        .main-title {
            margin-left: 50px;
        }
        &__main-img {
            position: absolute;
            right: 110px;
        }
    }
}

