@import './hero';
@import './skills';
@import './projects';
@import './about';
@import './footer';

@import './heroMedia';
@import './skillsMedia';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    // border: 2px solid black;
}